body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    margin-bottom: 20px;
}

#time {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    font-size: 1.2em;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Mode (default) */
body.light-mode {
    background-color: #f0f4f8;
    color: #333;
}

.container.light-mode {
    background-color: #fff;
}

button.light-mode {
    background-color: #4CAF50;
    color: white;
}

button.light-mode:hover {
    background-color: #45a049;
}

ul li.light-mode {
    background-color: #ececec;
}

/* Night Mode */
body.night-mode {
    background-color: #121212;
    color: #f0f4f8;
}

.container.night-mode {
    background-color: #333;
}

button.night-mode {
    background-color: #6200ea;
    color: white;
}

button.night-mode:hover {
    background-color: #3700b3;
}

ul li.night-mode {
    background-color: #424242;
}

#modeToggleBtn {
    margin-top: 20px;
}
